<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="DEV_HOME" value="log/process" />

    <!-- Console Logs -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Track Logger File -->
    <appender name="TRACK-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${DEV_HOME}/track.log</file>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                ${DEV_HOME}/archived/track.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>

        </rollingPolicy>
    </appender>

    <!-- Custom Application Logger -->
    <logger name="tracklogger"
            level="INFO"
            additivity="false">

        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TRACK-FILE"/>

    </logger>

    <!-- Root Logger -->
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>